<!DOCTYPE html>
<html>
  <head>
    <title>Persons</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <p>Persons details</p>
    <form action="person/personDetail" method="POST">
           <select class="example" name="id">
        
        <% for(let i=0;i<persons.length;i++){%>
        <option value="<%=  i+1  %>"><%=persons[i].name%> <%=persons[i].last_name%></option>
        <%}%>
  </select>


      <input type="submit" value="Consultar">
    </form>
</body>
</html>